:root{
    --pokemon-art-shopping-website-title-shadow-color: #0000ff;
    --pokemon-art-shopping-website-title-color: #da70d6;
    --pokemon-art-shopping-website-smeargle-tail-color: #d2b48c;
    --pokemon-art-shopping-website-smeargle-tail-tip-color: #27d96b;
    --pokemon-art-shopping-website-smeargle-tail-shine-color: rgba(255, 255, 255, 0.5);
    --pokemon-art-shopping-website-smeargle-tail-tip-box-shadow-color: #1d6f94;
    --pokemon-art-shopping-website-title-border-color: #ff0000;
    --pokemon-art-shopping-website-purchase-buttons-border-color: #ffffff;
    --pokemon-art-shopping-website-box-bg-color: #ffebcd;
    --pokemon-art-shopping-website-box-color: #8b4513;
    --pokeon-art-shopping-website-box-border-color: #800008;
    --pokemon-art-shopping-website-contact-section-border-color: #808000;
    --pokemon-art-shopping-website-email-shadow-color: #ffff00;
    --pokemon-art-shopping-website-email-link-color: #87cefa;
}
html{
    background-image: url("https://tse3.mm.bing.net/th/id/OIP.dKz7ru7-DKlfIM83dvbpLgHaHa?cb=ucfimgc2&rs=1&pid=ImgDetMain&o=7&rm=3");
}
#pokemon-art-shopping-website-family-webpage{
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 5% 10% 40% 30% 15%;
    grid-template-areas:
    "home-link home-link"
    "title title"
    "image purchase"
    "description description"
    "contact contact";
}
#the-family-of-pokemon-webpage-title{
    grid-area: title;
    text-shadow: 2px 2px var(--pokemon-art-shopping-website-title-shadow-color);
    font-size: 50pt;
    color: var(--pokemon-art-shopping-website-title-color);
    border: 5px solid var(--pokemon-art-shopping-website-title-border-color);
    width: 98%;
    margin-bottom: 10px;
}